:root {
   --light-back: #FFF;
   --dark-back: #222;
}
* {
   margin: 0; padding: 0;
	box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}
li { list-style: none; }
canvas { user-select: none; }