@import url('global.css');
@import url('range.css');
@import url('select.css');

/* Navbar */
.navbar {
   z-index: 100;
   position: fixed;
   top: 0;
   width: 100%;
   height: var(--header-height);
   background: var(--lm-color-bg-page);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
   transition: all 200ms linear;
   user-select: none;
}
.navbar.sticky {
   height: var(--header-height-sticky);
   background-color: rgb(233 228 240 / 0.7);
   backdrop-filter: blur(5px) saturate(4.5);
   box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.4);
}
.navbar .logo {
   flex-grow: 1;
   flex-basis: 0;
   display: flex;
   align-items: center;
   gap: 5px;
   font-weight: bold;
}
.navbar .logo > svg { color: var(--dm-color-bg-page); }
.navbar .logo-title { color: var(--dm-color-bg-page); }
/*
.navbar .logo svg {
   animation: rotateLogo 1s infinite;
}
*/
@keyframes rotateLogo {
   from { transform: rotate(0deg); }
   to { transform: rotate(90deg); }
}
.navbar .links {
   display: flex;
   justify-content: space-between;
   color: var(--lm-text-color);
   gap: 1rem;
   font-size: 1rem;
   cursor: pointer;
}
.navbar .links li {
   display: flex;
   border-radius: 4px;
   padding: 8px 14px;
   border: 1px solid transparent;
}
.navbar .tools {
   flex-grow: 1;
   flex-basis: 0;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.navbar .aspect,
.navbar .github {
   display: flex;
   border-radius: 100%;
   padding: 10px;
   cursor: pointer;
   object-fit: contain;
}
.navbar .github > svg { fill: var(--dm-color-bg-page); }
.navbar .aspect > svg { color: var(--dm-color-bg-page); }
/* - - - */
.navbar .links a:hover {
   text-decoration: underline var(--lm-text-color);
   transition: all 200ms linear;
}
.navbar .aspect:hover,
.navbar .github:hover {
   background-color: var(--lm-border-color);
   transition: all 200ms linear;
}
.navbar .aspect {
   transform: rotate(90deg);
}
.navbar .aspect.rotate {
   transform: rotate(0deg);
}

/* Container */
.container {
   background-color: var(--lm-color-bg-page);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
   padding: 50px 0;
}
/** Titulo principal */
.main-title {
   width: 80%;
   height: 350px;
   background: url('../assets/img/astronaut-min.png'), 
               linear-gradient(50deg, #158B82 0%, #8151b0 74%);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: right;
   margin-top: calc(var(--header-height) + 50px);
   padding: 20px 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 4px;
}
.main-title h1.m-title {
   backdrop-filter: blur(2px);
   width: fit-content;
   padding: 5px 0;
   font-size: 2rem;
   color: var(--lm-color-bg-page);
}
.main-title span.m-subtitle {
   padding: 5px 0;
   font-size: 1rem;
   font-weight: bold;
   color: var(--lm-text-color);
}
/** Sección del juego (canvas y controles) */
.game {
   width: 80%;
   background-color: var(--lm-card-color);
   display: flex;
   flex-direction: column;
   gap: 5px;
   border: 1px solid var(--lm-border-color);
   box-shadow: var(--lm-shadow);
   padding: 20px 20px;
   border-radius: 6px;
}
.game .game-icon {
   text-align: center;
}
.game .panel {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   border-radius: 4px;
}
.game .panel.top-panel {
   color: var(--lm-text-color)
}
.game .canvas-container {
   overflow: hidden;
   background-color: var(--lm-color-bg-page);
   width: 100%;
   height: 430px;
   border: 1px solid #c5c4c7;
   border-radius: 4px;
}
.game .panel.bottom-panel {
   height: 65px;
   background-color: var(--dm-color-bg-page);
}
.game .control-group {
   display: flex;
   align-items: center;
   margin: 0 15px;
   border-radius: 50px;
}
.game .control {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.game .control .label {
   font-size: 0.7rem;
   color: var(--disabled-color);
}
.game .btn-control {
   display: grid;
   place-content: center;
   cursor: pointer;
   border-radius: 50%;
   outline: none;
}
.game .btn-control:hover {
   transform: translateY(-1px);
   transition: all 200ms ease-in;
}
/* - - - - - */
.game .control.type-player { width: 40px; }
.game .control.type-player .btn-control {
   background-color: var(--dm-color-bg-page);
   color: var(--lm-color-bg-page);
}
.game .control.type-player .btn-control:disabled {
   color: var(--disabled-color);
   pointer-events: none;
}
.game .btn-control.toggle-gridline { color: var(--lm-text-color); }
.game .group-range { gap: 20px; }
.game .control.type-range { gap: 1px; }
.game .control.type-range input { height: 20px; }

/* Info */
#info {
   width: 80%;
   align-self: flex-start;
   padding-left: 10%;
   display: flex;
   flex-flow: column wrap;
   gap: 60px;
   color: var(--lm-text-color);
   line-height: 1.5;
   font-size: .98rem;
}
.info-text-body {
   margin: 20px 0;
}
.rules {
   display: grid;
   grid-template-columns: repeat(auto-fit, 300px);
   gap: 20px;
}
.rules .rule {
   background-color: var(--lm-card-color);
   display: flex;
   flex-flow: column nowrap;
   box-shadow: var(--lm-shadow);
   border-radius: 4px;
}
.rule .rule-top {
   height: 200px;
   background-image: url('../assets/img/particle-min.jpg');
   background-size: cover;
}
.rule .rule-content {
   flex-grow: 1;
   padding: 20px;
   border: 1px solid var(--lm-border-color);
   border-radius: 0 0 4px 4px;
   font-size: 0.92rem;
}

/* Footer */
.footer {
   height: 150px;
   background-color: var(--dm-color-bg-page);
   display: grid;
   place-content: center;
   color: var(--dm-text-color);
}

/* DARK MODE */
.dark-mode .navbar { background-color: var(--dm-color-bg-page); }
.dark-mode .navbar.sticky { background-color: rgb(44 49 62 / 70%); }
.dark-mode .navbar .logo > svg { color: var(--lm-color-bg-page); }
.dark-mode .navbar .logo-title { color: var(--lm-color-bg-page); }
.dark-mode .navbar .links { color: var(--dm-text-color); }
.dark-mode .navbar .links a:hover { text-decoration: underline var(--dm-text-color); } 
.dark-mode .navbar .github > svg { fill: var(--lm-color-bg-page); }
.dark-mode .navbar .aspect > svg { color: var(--lm-color-bg-page); }
.dark-mode .navbar .aspect:hover,
.dark-mode .navbar .github:hover { background-color: var(--dm-border-color); }
.dark-mode .container { background-color: var(--dm-color-bg-page); }
.dark-mode .game {
   background-color: var(--dm-card-color);
   border: 1px solid var(--dm-border-color);
   box-shadow: var(--dm-shadow);
}
.dark-mode .game .panel.top-panel { color: var(--dm-text-color) }
.dark-mode .canvas-container { 
   background-color: var(--dm-color-bg-page); 
   border: 1px solid #666862;
}
.dark-mode .rules .rule {
   background-color: var(--dm-border-color);
   box-shadow: var(--dm-shadow);
}
.dark-mode .game .btn-control.toggle-gridline { color: var(--dm-text-color); }
.dark-mode .game .btn-control.toggle-gridline > svg { fill: var(--dm-card-color); }
.dark-mode #info { color: var(--dm-text-color); }
.dark-mode .rule .rule-content {
   background-color: var(--dm-card-color);
   border: 1px solid var(--dm-border-color);
}
.dark-mode .footer { background-color: #171c28; }